<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" [class.affix]="isSticky" data-spy="affix">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="col-12 collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="col-12 d-flex align-items-center flex-wrap">
              <div class="navbar-nav col-5 d-flex flex-wrap justify-content-around align-items-center navbar-nav mr-auto">
          
                  <li class="nav-item">
                  <a href="#home" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="#about" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                      <a href="#resume" class="nav-link">Resume</a>
                  </li>
              </div>
              <div class="navbar-nav col-0 col-sm-2 col-md-2 overflow-hidden d-flex flex-wrap justify-content-around align-items-center navbar-nav mr-auto brand">
                  
                  <img src="../../../../assets/img/logo chocowonka.png" alt="" class="brand-img">
                  <li class="brand-txt">
                  <h5 class="brand-title">ChocoWonka</h5>
                  <div class="brand-subtitle">Chocolat | and More</div>
                  </li>
      
              </div>
              <div class="navbar-nav col-5 d-flex flex-wrap justify-content-around align-items-center navbar-nav mr-auto">
                  <li class="nav-item">
                      <a href="list-transactions" class="nav-link">Transacciones</a>
                  </li>
                  <li class="nav-item">
                      <a href="#blog" class="nav-link">Blog</a>
                  </li>
                  <li class="nav-item last-item">
                      <a href="#contact" class="nav-link">Contact</a>
                  </li>
              </div>
          </div>
      
      </div>
  </div>
</nav>

